  ## Libraries

In [1]:
# IMPORT THESE FIRST.
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

Load the raw data

In [18]:
df = pd.read_excel("https://github.com/TechLabs-Berlin/wt21-pet-match/blob/4fcd2ffa01646975193f18fe8703a3debb14c136/ds_documentation/data_set/pet-set.xlsx?raw=true")
#df.head(2)

# Aggregating a variable discribing the satisfaction level in percentage

In [19]:
# replacing strings with numerical values
df['expectations'] = df['My cat has met all my expectations'].replace({'Strongly agree': 5, 'Agree': 4, 'Neither agree nor disagree': 3, 'Disagree': 2, 'Strongly disagree': 1})
df['happy_owner'] = df['I am happy with my cat'].replace({'Strongly agree': 5, 'Agree': 4, 'Neither agree nor disagree': 3, 'Disagree': 2, 'Strongly disagree': 1})
df['happy_cat'] = df['I feel my cat is happy living with me'].replace({'Strongly agree': 5, 'Agree': 4, 'Neither agree nor disagree': 3, 'Disagree': 2, 'Strongly disagree': 1})
df['rehome'] = df['I have considered relinquishing or rehoming this cat to someone else'].replace({'Strongly agree': 1, 'Agree': 2, 'Neither agree nor disagree': 3, 'Disagree': 4, 'Strongly disagree': 5})

# aggregating final score
df['satisf_level'] = (df['expectations'] + df['happy_owner'] + df['happy_cat'] + df['rehome'])/20

df['satisf_level'].value_counts()

1.00    1940
0.95     491
0.90     286
0.85     250
0.80     133
0.75      62
0.70      38
0.65      13
0.60      12
0.55       8
0.40       5
0.50       5
0.35       2
0.45       2
0.25       1
Name: satisf_level, dtype: int64

# Adopters - cleaning and standardizing the data

In [20]:
# returns an indexed list of all columns in initial data frame

# i = 0
# for col_name in df.columns:
#   print(i, col_name)
#   i += 1

### manually defining the variables we will use
See questionaire on Notion: [link text](https://www.notion.so/pet-match/Questions-dee1a76f4af04514a7ad63592773018b)

In [21]:
columns_to_retain_adopters = [58,59,60,8,79,99,94,61,96,66,65,90,80,97,77,92,63,83,93]
adopters = df.iloc[:, columns_to_retain_adopters]
#adopters.info()

In [22]:
# df

### replacing the string values

In [23]:
# remove the NaN , they are text here
adopters.replace("NaN",np.nan, inplace =True)
adopters.fillna(0,inplace=True)

# translationg into numeric values
# be careful, it will throw an error if you run this block for the second time
# Zeros reserved for NaN and missing values
adopters = adopters.replace({'Agree strongly': 5, 
                  'Agree a little': 4, 
                  'Neither agree nor disagree': 3, 
                  'Disagree a little': 2, 
                  'Disagree strongly': 1, 
                  'Yes': 2, 
                  'No': 1, 
                  'Male': 1, 
                  'Female': 2,
                  'Prefer not to say': 0, 
                  '18-24': 1,
                  '25-34': 2,
                  '35-44': 3,
                  '45-54': 4,
                  '55-64': 5,
                  '65 and over': 6})

/home/omaistat/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:5238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(
/home/omaistat/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:5176: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

## Scale the data to fit between Zero and One

In [24]:
scaler_adopters = MinMaxScaler()
adopters_scaled = scaler_adopters.fit_transform(adopters)

## Renaming the columns to more readable

In [25]:
adopters_scaled_df = pd.DataFrame(adopters_scaled, columns = ['adopter_gender', 
                   'adopter_age', 
                   'other_cats', 
                   'outdoor_access', 
                   'worries', 
                   'easily_nervous',
                   'remains_calm',
                   'talkative', 
                   'outgoing',
                   'reserved', 
                   'new_ideas',
                   'values_artistic',
                   'active_imagination', 
                   'rude', 
                   'forgiving',
                   'considerate', 
                   'thorough job', 
                   'lazy', 
                   'efficient'])

### returns the standardized and cleaned data on adopters

In [26]:
#adopters_scaled_df

# Cats

In [27]:
cats_raw = df.iloc[:, : 54]
cats_raw = cats_raw.iloc[:, [0,2,7,8,11,14,24,26,27,28,41,42,33,43,44,45,46,52,53]]

## Replacing the strings with numeric values

In [29]:
# remove the NaN , they are text here
cats_raw.replace("NaN",np.nan, inplace =True)
cats_raw.fillna(0,inplace=True)

In [30]:
# NOT FINISHED, THERE MIGHT BE SOME OTHER VALUES THAT HAVE TO BE REPLACED
cats_raw = cats_raw.replace({'Strongly disagree': 1, 
                  'Never': 1, 
                  'Disagree': 2, 
                  'Once': 2, 
                  'Neither agree nor disagree': 3, 
                  'Occasionally': 3, 
                  'Agree': 4, 
                  'Usually': 4, 
                  'Strongly agree': 5, 
                  'Always': 5,
                  'Male': 1,
                  'Female': 2,
                  'No': 1,
                  'Yes': 2,
                  'Unsure': 0,
                  'Very underweight': 1,
                  'Underweight': 2,
                  'Normal': 3,
                  'Overweight': 4,
                  'Very overweight': 5})

### MinMaxScaler - needs to be adjusted for cats data

In [31]:
cats_breed = cats_raw.iloc[:, 2]

In [32]:
########
# All the data should be numeric to be scaled, we need some idea for that
# Here I transformed everything to numeric and scaled except breeds
# one of the options - one hot encode for nominal values if there's no way to order them in numbers


scaler_cats = MinMaxScaler()
cats_scaled = scaler_cats.fit_transform(cats_raw.drop(columns = 'Other (please specify).1'))

### Rename the columns for usability

In [33]:
cats_scaled_df = pd.DataFrame(cats_scaled, columns = ['cat_age',
                                                      'cat_gender',
                                                      'needs_outdoor',
                                                      'medical_conditions',
                                                      'behavioural_problems',
                                                      'cat_weight',
                                                      'likes_to_explore',
                                                      'playful',
                                                      'vocal',
                                                      'picked_up',
                                                      'timid',
                                                      'aggressive',
                                                      'adapts_quickly',
                                                      'prefers_alone',
                                                      'likes_stroke',
                                                      'tolerant_handled',
                                                      'friendly',
                                                      'fearful'
])

In [34]:
# cats_scaled_df

In [35]:
# adding breed variable to the scaled data
cats_scaled_breed = pd.concat([cats_scaled_df, cats_breed], axis = 1)
cats_scaled_breed.rename(columns={'Other (please specify).1': 'breed'}, inplace = True)

# Merge two datasets together + satisfaction level

if everything goes well, after this step we are going to have a nice dataset to feed it to any algorithm!

Howver, make sure you need/can use nominal values, there is one - breed, but you can replace the data set *cats_scaled_breed* with *cats_scaled_df* - last one is all scaled and numeric

In [36]:
df_scaled = pd.concat([cats_scaled_breed, adopters_scaled_df, df["satisf_level"]], axis=1)

In [37]:
df_scaled

,cat_age,cat_gender,needs_outdoor,medical_conditions,behavioural_problems,cat_weight,likes_to_explore,playful,vocal,picked_up,...,new_ideas,values_artistic,active_imagination,rude,forgiving,considerate,thorough job,lazy,efficient,satisf_level
0,0.217391,0.0,1.0,1.0,0.0,0.50,0.75,0.75,0.50,0.4,...,0.4,1.0,0.6,0.2,0.8,1.0,0.8,0.8,0.8,1.00
1,0.043478,1.0,1.0,0.0,0.0,0.50,0.75,0.75,0.00,0.8,...,0.8,0.6,0.8,0.6,1.0,1.0,1.0,0.2,1.0,1.00
2,0.173913,0.0,0.0,0.0,0.0,0.75,1.00,0.50,0.75,0.4,...,0.6,0.0,0.8,0.0,0.8,0.0,1.0,0.0,0.0,0.85
3,0.130435,1.0,1.0,0.0,0.0,0.75,0.50,0.75,0.50,1.0,...,0.8,1.0,1.0,0.8,1.0,0.8,0.6,0.8,0.6,1.00
4,0.086957,1.0,1.0,0.0,0.0,1.00,0.75,0.50,1.00,0.4,...,0.6,0.6,0.6,0.6,0.8,0.8,0.8,0.8,0.8,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3326,0.478261,1.0,0.0,0.0,0.0,0.50,1.00,1.00,0.50,0.8,...,0.6,0.8,0.6,0.2,1.0,1.0,0.8,0.2,0.8,1.00
3327,0.260870,0.0,1.0,0.0,0.0,0.50,1.00,0.75,0.50,0.8,...,1.0,1.0,1.0,0.4,1.0,1.0,0.8,0.8,1.0,1.00
3328,0.130435,0.0,0.0,0.0,0.0,0.50,1.00,1.00,1.00,1.0,...,1.0,1.0,1.0,0.8,1.0,1.0,0.6,1.0,0.8,1.00
3329,0.000000,0.0,0.0,0.0,0.0,0.50,0.75,1.00,0.50,1.0,...,0.6,1.0,0.8,0.8,0.2,1.0,1.0,0.4,1.0,1.00
3330,0.086957,0.0,0.0,0.0,0.0,0.50,0.75,0.75,0.75,1.0,...,0.6,0.6,0.6,0.6,0.8,0.6,0.8,0.8,0.8,1.00

# Fitting the model

.........

In [61]:
%matplotlib notebook
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import train_test_split

In [62]:
df_scaled.fillna(0, inplace=True)

In [63]:
X= df_scaled[["behavioural_problems", "rude"]]
y= df_scaled[["satisf_level"]]

X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=0)

In [64]:
knr = KNeighborsRegressor()

In [65]:
scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
# we must apply the scaling to the test set that we computed for the training set
X_test_scaled = scaler.transform(X_test)

In [66]:
knr.fit(X_train, y_train)

KNeighborsRegressor()

In [68]:
knr.score(X_test_scaled, y_test)

/home/omaistat/anaconda3/lib/python3.8/site-packages/sklearn/base.py:445: UserWarning: X does not have valid feature names, but KNeighborsRegressor was fitted with feature names
  warnings.warn(

0.2110770642276324